<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro"
       name="ur3" >

  <!-- common stuff -->
  <xacro:include filename="$(find ur_description)/urdf/common.gazebo.xacro" />

  <!-- ur3 -->
  <xacro:include filename="$(find ur_description)/urdf/ur3.urdf.xacro" />

  <!-- arm -->
  <xacro:ur3_robot prefix="" joint_limited="false"/>

  <link name="world" />

  <joint name="world_joint" type="fixed">
    <parent link="world" />
    <child link = "base_link" />
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
  </joint>
  
  
   <!-- common stuff -->
<!--  <xacro:include filename="$(find puthand_driver)/description/urdf/common.gazebo.xacro" /> -->
  
 <xacro:include filename="$(find node_yale_hand)/description/urdf/gripper.urdf.xacro" />
 
 <xacro:hand parent="ee_link" name="left_hand" side="-1">
    <origin xyz="0 0 0"  rpy= "0 1.57 0" />
  </xacro:hand>
  
   

</robot>
