<?xml version="1.0"?>
<launch>
  <arg name="limited" default="true"/>
  <arg name="paused" default="false"/>
  <arg name="gui" default="true"/>
  <arg name="sim" default="true"/>
  
  <!-- startup simulated world -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find putarm_gazebo)/worlds/putarm.world"/>
     <!-- more default parameters can be changed here -->
  </include>

  <!-- send robot urdf to param server -->
  <include file="$(find putarm_driver)/description/launch/ur3_puthand_upload.launch">
    <arg name="limited" value="$(arg limited)"/>
  </include>

  <!-- push robot_description to factory and spawn robot in gazebo -->
  <node name="spawn_gazebo_model" pkg="gazebo_ros" type="spawn_model" args="-urdf -param robot_description -model robot -z 0.1" respawn="false" output="screen" />

  <include file="$(find ur_gazebo)/launch/controller_utils.launch"/>

  <rosparam file="$(find ur_gazebo)/controller/arm_controller_ur3.yaml" command="load"/>
  <node name="arm_controller_spawner" pkg="controller_manager" type="controller_manager" args="spawn arm_controller" respawn="false" output="screen"/>
  
  <rosparam file="$(find hand_gazebo)/controller/hand_controller.yaml" command="load"/>
  <node name="hand_controller_spawner" pkg="controller_manager" type="controller_manager" args="spawn hand_controller" respawn="false" output="screen"/>
  
  <!-- run moveit -->
  <include file="$(find putarm_moveit_config)/launch/putarm_moveit_planning_execution.launch">
    <arg name="limited" value="$(arg limited)"/>
    <arg name="sim" value="$(arg sim)"/>
  </include>

  <!-- run optoforce -->
  <include file="$(find optoforce)/launch/optoforce.launch">
  </include>
  
  <node name="static_transform_publisher0" pkg="tf" type="static_transform_publisher" args="0.0 0.0 0.0 3.14 0.0 0.0 left_hand_middle_finger_tip optoforce_0 100" respawn="false" output="screen"/>
  
  <node name="static_transform_publisher1" pkg="tf" type="static_transform_publisher" args="0.0 0.0 0.0 3.14 0.0 0.0 left_hand_index_finger_tip optoforce_1 100" respawn="false" output="screen"/>
  
  <node name="static_transform_publisher2" pkg="tf" type="static_transform_publisher" args="0.0 0.0 0.0 3.14 0.0 0.0 left_hand_thumb_tip optoforce_2 100" respawn="false" output="screen"/>
  
  
</launch>
