<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="hand_transmission" params="name">

    <transmission name="rotator2_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="rotator2">
        <hardwareInterface>PositionJointInterface</hardwareInterface>
      </joint>
      <actuator name="rotator2_motor">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

	    <transmission name="finger1_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="finger1">
        <hardwareInterface>PositionJointInterface</hardwareInterface>
      </joint>
      <actuator name="finger1_motor">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>
    <transmission name="finger2_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="finger2">
        <hardwareInterface>PositionJointInterface</hardwareInterface>
      </joint>
      <actuator name="finger2_motor">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>
    <transmission name="finger3_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="finger3">
        <hardwareInterface>PositionJointInterface</hardwareInterface>
      </joint>
      <actuator name="finger3_motor">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>
  

    
  </xacro:macro>

</robot>
